body {
background-color: white;
font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav h2{
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 30px;
  color: #f1f1f1;
  display: block;
}

.sidenav a{
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 22px;
  color: #f1f1f1;
  display: block;
}

.sidenav a:hover {
  color: #818181;
}

.main {
  margin-left: 250px; 
  font-size: 18px; 
} 


#map {
  display: inline-block;
  width: 1000px;
  height: 300px;
  padding: 20px;
  margin: 20px;
}

.box {
  float: left;
  width: 180px;
  height: 110px;
  border: 2px solid black;
  border-radius: 8px;
  padding: 20px;
  margin: 20px;
  text-align: center;
}

input {
  width: 120px;
}

.exp {
  text-align: center;
  margin-right: 120px;
}

footer {
  position: fixed;
  margin-left: 250px;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 10px;
}