<!DOCTYPE html>

<html lang="en">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<head>
    <link rel="stylesheet" href={{ url_for("static",filename="styles.css") }}>
    <script type="text/javascript">
        var lat_in = {{ loc_in.lat }}
        var lon_in = {{ loc_in.lon }}
    </script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script type="text/javascript" src="static/scripts.js"></script>

    <title>Climate trend</title>
</head>


<body>
<div class="sidenav">
    {% block sidenav %} {% endblock %}
    <h2>Resources</h2>
    <a href="https://www.ipcc.ch/" target="_blank">IPCC</a>
    <a href="http://berkeleyearth.org/" target="_blank">Berkeley earth</a>
    <a href="http://static.berkeleyearth.org/pdf/skeptics-guide-to-climate-change.pdf" target="_blank">Skeptic's guide</a>
    <a href="https://climate.nasa.gov/" target="_blank">NASA</a>

    <h2>Sources</h2>
    <a href="http://berkeleyearth.org/data/" target="_blank">Berkeley earth</a>
    <a href="https://data.worldbank.org/indicator/EN.ATM.CO2E.KT?end=2018&start=2018&view=map" target="_blank">World Bank</a>

</div>


<div class="main">

    <div id="map"></div>
<br>

{% block main %}{% endblock %}
    
</div>

<footer>
    <p>DISCLAIMER: Please note this website was created as a student project and as such the data contained therein might not be 100% accurate.</p>
    <p>If you'd like to learn about climate change the resources on the left hand side constitute an excellent starting point.</p>
  </footer> 

<script
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEBjX-IQaXy0dXtike6l2Sm4ileHItbDw&callback=initMap&libraries=&v=weekly"
async
></script>



</body>
</html> 